<html>
  <head>
    <title>Kokonatsu Macros</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/dirPagination.js"></script>
    <style>
      .gfy-video
        {
            max-height: 252px !important;
        }
    </style>


    </head>
  <body ng-app="kokonatsu" ng-controller="MainCtrl" controller>
    <div class="row" align = "center">
      <h1>Kokonatsu Macros</h1>
    </div>

    <!-- Guild Tabs -->
    <div class="container-fluid">
      <div class="row">
        <nav style="margin: 0 20px">
          <ul class="nav nav-tabs">
            <li ng-repeat="guild in guilds" ng-click="setGuild(guild.id, $index)" ng-init="setGuild(guilds[0].id, 0)" ng-class="{'active': $index === currentTab}"><a href="">{{guild.name}}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Search Bar -->
    <div class="container">
      <form style="margin-top:15px">
        <div class="form-group row">
          <div class="col-md-11"><input type="text" ng-model="search" ng-init="search='' " class="form-control" placeholder="Search"  ng-change="reloadGfycat()"></div>
          <div class="dropdown col-md-1">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Sort By
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-click="setSortKey(key)" ng-repeat="key in sortKeys"><a href="#">{{key}}</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <!-- Alphabet Filter -->
    <div class="container-fluid" ng-init="displayLetter='ALL'" align="center"><nav>
      <div class="button-group btn-group-sm" ng-repeat="letter in alphabet" style="display:inline-block; margin: 0px 5px">
        <button type="button" class="btn" ng-class="{'btn-primary': letter==displayLetter, 'btn-default': letter != displayLetter}" ng-click="filterAlphabet(letter)">{{letter}}</button>
      </div>
    </nav></div>

    <!-- Macro Grid -->
    <div class="container-fluid" align="center" ng-init="setSortKey('Macro Names')">
      <span dir-paginate="macro in displayMacros | orderBy: [sortKey,'number'] | filter: {name: search, guild: guildFilter} | itemsPerPage: 12" current-page="currentPage" style="">
         <div style="display:inline-block; margin: 0px 5px;">
          <div style=""><h3 style="padding: 0px; margin: 15px 0px 3px">{{macro.name}} ({{macro.number}})</h3></div>
          <div style="float:left; background-color:black; border-radius: 5px">
            <a href="{{macro.link}}">
              <img src="{{macro.link}}" class="img-thumbnail" ng-if="img(macro,macro.link)" style="width:450px; height:252px;">
              <video ng-if="video(macro.link)" preload="auto" autoplay="autoplay" loop="loop" style="width:450px; max-height:252px;">
                <source src="{{trustAsResourceUrl(macro.link)}}" type="video/mp4">
              </video>
              <span class='gfyitem' data-id="{{gfycatDataID(macro.link)}}" ng-if="gfycat(macro.link)" style="width:450px; max-height:252px;"></span>
            </a>
          </div>
          <div>
            <button type="button" class="btn btn-default btn-lg" style="width: 50%; float:left;" ng-class="{'btn-success': updateButton(macro.likes)}" ng-click="like(macro)">
              <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </button>
            <button type="button" class="btn btn-default btn-lg" style="width: 50%; float:left;" ng-class="{'btn-danger': updateButton(macro.dislikes)}" ng-click="dislike(macro)">
              <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
            </button>
          </div>
        </div>
      </span>
    </div>

    <!-- Pagination Bar -->
    <div style="text-align:center">
      <dir-pagination-controls on-page-change="pageChanged()" max-size="30" align="center"></dir-pagination-controls>
    </div>

  </body>
</html>